@model WorldTrainer.Models.ExperinceModel

@{
    ViewData["Title"] = "AddExp";
}

<h1>Add Your Experince</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddExp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input asp-for="ExperienceId" value="@ViewBag.Id" class="form-control" />
                <span asp-validation-for="ExperienceId" class="text-danger"></span>
            </div>
            <div class="form-group">
              
                <input asp-for="TrainerId" value="@ViewBag.Id" class="form-control" />
                <span asp-validation-for="TrainerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceTechnology" class="control-label"></label>
                <input asp-for="ExperienceTechnology" class="form-control" />
                <span asp-validation-for="ExperienceTechnology" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceDuration" class="control-label"></label>
                <input asp-for="ExperienceDuration" class="form-control" />
                <span asp-validation-for="ExperienceDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperiencePosition" class="control-label"></label>
                <input asp-for="ExperiencePosition" class="form-control" />
                <span asp-validation-for="ExperiencePosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceLocation" class="control-label"></label>
                <input asp-for="ExperienceLocation" class="form-control" />
                <span asp-validation-for="ExperienceLocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
